<h1>つぶやき投稿</h1>

<%= form_with(model: @post, local: true) do |f| %>
    <div class = "field">
        <%= f.text_field :content %>
    </div>

    <div class = "action">
        <input type = "submit" value = "投稿" >
    </div>

<% end %>